QUIZ MACHINE LEARNING

import library

In [1]:
import pandas as pd #untuk manipulasi dan analisis data
import numpy as np
from sklearn.preprocessing import StandardScaler #untuk scalling
from sklearn.model_selection import train_test_split #untuk splitting

import dataset

In [2]:
X_train = pd.read_csv('X_train.csv')  
X_test = pd.read_csv('X_test.csv')    
y_train = pd.read_csv('y_train.csv') 
y_test = pd.read_csv('y_test.csv')

membaca tiap data set

In [3]:
X_train.head()

,index,Feature_1,Feature_2,Feature_3,Feature_4,Feature_5,Feature_6,Feature_7,Feature_8,Feature_9,...,Feature_21,Feature_22,Feature_23,Feature_24,Feature_25,Feature_26,Feature_27,Feature_28,Feature_29,Feature_30
0,0,-1.423113,0.572921,17.686516,0.073024,0.615795,3.854087,12,0.869012,0.484014,...,1,0,0,5,1,2,0,1,C,A
1,1,1.555577,-0.683267,15.978197,0.807142,2.740634,0.078398,5,0.283169,0.700958,...,0,0,0,4,0,3,0,0,A,B
2,2,0.091494,1.386061,10.715102,0.779657,1.058637,0.107624,8,0.396096,0.091603,...,0,0,0,3,1,2,0,1,A,A
3,3,-0.368619,-1.847271,14.581532,0.943360,3.848397,0.359430,3,6.363136,0.835804,...,0,0,0,4,0,2,0,1,C,A
4,4,-0.654865,0.526116,14.283726,0.918975,2.186395,0.211522,4,0.083584,0.656074,...,2,1,0,1,0,4,0,1,A,A

In [4]:
X_test.head()

,index,Feature_1,Feature_2,Feature_3,Feature_4,Feature_5,Feature_6,Feature_7,Feature_8,Feature_9,...,Feature_21,Feature_22,Feature_23,Feature_24,Feature_25,Feature_26,Feature_27,Feature_28,Feature_29,Feature_30
0,0,0.282260,-0.860290,14.982660,0.998262,1.799244,1.452862,4,2.553702,0.262569,...,0,0,2,1,0,0,0,1,A,A
1,1,1.107414,0.686746,12.093164,0.527175,3.141188,0.639483,5,0.452457,0.056312,...,2,0,0,1,0,2,0,1,A,A
2,2,-1.280003,0.120712,8.574844,0.119564,4.273938,1.296210,7,0.294391,0.669383,...,1,0,0,1,0,4,0,1,A,A
3,3,-0.261910,0.027032,21.610662,0.420070,1.545481,2.912723,2,0.386170,0.786902,...,0,1,0,1,0,0,0,1,A,A
4,4,-1.001024,0.397065,8.974199,0.743688,1.596239,1.784739,7,0.068753,0.537837,...,0,0,0,3,0,0,0,1,A,B

In [5]:
y_train.head()

   index Target
0      0      B
1      1      E
2      2      A
3      3      E
4      4      D

In [6]:
y_test.head() #y test memiliki target yang kosong maka perlu diisi, hasil y test akan ada dalam answer.csv

   index  Target
0      0     NaN
1      1     NaN
2      2     NaN
3      3     NaN
4      4     NaN

PREPROCESSING

find the missing values

In [7]:
X_train.isna().sum()

index         0
Feature_1     0
Feature_2     0
Feature_3     0
Feature_4     0
Feature_5     0
Feature_6     0
Feature_7     0
Feature_8     0
Feature_9     0
Feature_10    0
Feature_11    0
Feature_12    0
Feature_13    0
Feature_14    0
Feature_15    0
Feature_16    0
Feature_17    0
Feature_18    0
Feature_19    0
Feature_20    0
Feature_21    0
Feature_22    0
Feature_23    0
Feature_24    0
Feature_25    0
Feature_26    0
Feature_27    0
Feature_28    0
Feature_29    0
Feature_30    0
dtype: int64

In [8]:
X_test.isna().sum()

index         0
Feature_1     0
Feature_2     0
Feature_3     0
Feature_4     0
Feature_5     0
Feature_6     0
Feature_7     0
Feature_8     0
Feature_9     0
Feature_10    0
Feature_11    0
Feature_12    0
Feature_13    0
Feature_14    0
Feature_15    0
Feature_16    0
Feature_17    0
Feature_18    0
Feature_19    0
Feature_20    0
Feature_21    0
Feature_22    0
Feature_23    0
Feature_24    0
Feature_25    0
Feature_26    0
Feature_27    0
Feature_28    0
Feature_29    0
Feature_30    0
dtype: int64

there are no missing values, so we don't need to fill anything

ENCODE THE CATEGORICAL VARIABLE


we need to check the categorical value and have to change into numerical value

In [9]:
X_train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 80000 entries, 0 to 79999
Data columns (total 31 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   index       80000 non-null  int64
 1   Feature_1   80000 non-null  float64
 2   Feature_2   80000 non-null  float64
 3   Feature_3   80000 non-null  float64
 4   Feature_4   80000 non-null  float64
 5   Feature_5   80000 non-null  float64
 6   Feature_6   80000 non-null  float64
 7   Feature_7   80000 non-null  int64
 8   Feature_8   80000 non-null  float64
 9   Feature_9   80000 non-null  float64
 10  Feature_10  80000 non-null  int64
 11  Feature_11  80000 non-null  int64
 12  Feature_12  80000 non-null  int64
 13  Feature_13  80000 non-null  int64
 14  Feature_14  80000 non-null  int64
 15  Feature_15  80000 non-null  int64
 16  Feature_16  80000 non-null  int64
 17  Feature_17  80000 non-null  int64
 18  Feature_18  80000 non-null  int64
 19  Feature_19  80000 non-null  int64
 20  Feature_20  80000 non-null  int64
 21  Feature_21  80000 non-null  int64
 22  Feature_22  80000 non-null  int64
 23  Feature_23  80000 non-null  int64
 24  Feature_24  80000 non-null  int64
 25  Feature_25  80000 non-null  int64
 26  Feature_26  80000 non-null  int64
 27  Feature_27  80000 non-null  int64
 28  Feature_28  80000 non-null  int64
 29  Feature_29  80000 non-null  object
 30  Feature_30  80000 non-null  object
dtypes: float64(8), int64(21), object(2)
memory usage: 18.9+ MB

we found there is categorical data in feature 29 and 30, so we need to change it.

In [10]:
from sklearn.preprocessing import LabelEncoder
le = LabelEncoder()
# Data Train -> Fit + Transform
# Data Test -> Transform

le.fit(X_train['Feature_29'])
X_train['Feature_29'] = le.transform(X_train['Feature_29'])
X_test['Feature_29'] = le.transform(X_test['Feature_29'])

le.fit(X_train['Feature_30'])
X_train['Feature_30'] = le.transform(X_train['Feature_30'])
X_test['Feature_30'] = le.transform(X_test['Feature_30'])

In [11]:
X_train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 80000 entries, 0 to 79999
Data columns (total 31 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   index       80000 non-null  int64
 1   Feature_1   80000 non-null  float64
 2   Feature_2   80000 non-null  float64
 3   Feature_3   80000 non-null  float64
 4   Feature_4   80000 non-null  float64
 5   Feature_5   80000 non-null  float64
 6   Feature_6   80000 non-null  float64
 7   Feature_7   80000 non-null  int64
 8   Feature_8   80000 non-null  float64
 9   Feature_9   80000 non-null  float64
 10  Feature_10  80000 non-null  int64
 11  Feature_11  80000 non-null  int64
 12  Feature_12  80000 non-null  int64
 13  Feature_13  80000 non-null  int64
 14  Feature_14  80000 non-null  int64
 15  Feature_15  80000 non-null  int64
 16  Feature_16  80000 non-null  int64
 17  Feature_17  80000 non-null  int64
 18  Feature_18  80000 non-null  int64
 19  Feature_19  80000 non-null  int64
 20  Feature_20  80000 non-null  int64
 21  Feature_21  80000 non-null  int64
 22  Feature_22  80000 non-null  int64
 23  Feature_23  80000 non-null  int64
 24  Feature_24  80000 non-null  int64
 25  Feature_25  80000 non-null  int64
 26  Feature_26  80000 non-null  int64
 27  Feature_27  80000 non-null  int64
 28  Feature_28  80000 non-null  int64
 29  Feature_29  80000 non-null  int32
 30  Feature_30  80000 non-null  int32
dtypes: float64(8), int32(2), int64(21)
memory usage: 18.3 MB

the feature 29 and 30 is changed into a numerical value

PCA


to reduce the amount of data so it won't cause dimensionality curse

In [17]:
from sklearn.decomposition import PCA

# Menentukan jumlah komponen utama
n_components = 15  #karena ada 30 features, maka saya memilih 15 

# Inisialisasi PCA
pca = PCA(n_components=n_components)

# Fit dan transform data training
X_train_pca = pca.fit_transform(X_train)

# Transform data testing
X_test_pca = pca.transform(X_test)

# Memeriksa varians yang dijelaskan oleh komponen-komponen utama
explained_variance = pca.explained_variance_ratio_
print("Varians yang dijelaskan oleh setiap komponen utama:")
print(explained_variance)

print("\nTotal varians yang dijelaskan oleh", n_components, "komponen utama:", np.sum(explained_variance))

Varians yang dijelaskan oleh setiap komponen utama:
[9.84565660e-01 1.53917411e-02 3.81869162e-05 2.62221191e-06
 1.51020713e-06 1.53898477e-07 5.47067660e-08 1.49680385e-08
 1.10367593e-08 7.34823710e-09 6.02725559e-09 5.38714056e-09
 4.32837082e-09 4.29110263e-09 3.73941461e-09]

Total varians yang dijelaskan oleh 15 komponen utama: 0.999999986506977

SPLITTING

In [18]:
from sklearn.model_selection import train_test_split
# X -> feature
# y -> target
# Drop index karena bisa merusak tatanan CSV final answernya
X = X_train.drop('index', axis = 1)
y = y_train.drop('index', axis = 1)

X_train_new, X_test_new, y_train_new, y_test_new = train_test_split(X, y, test_size=0.2, random_state=42)

SCALLING

In [20]:
from sklearn.preprocessing import StandardScaler

scaler = StandardScaler()
X_train_new = scaler.fit_transform(X_train_new)
X_test_new = scaler.fit_transform(X_test_new)

CLASSIFICATION

In [21]:
from sklearn.linear_model import LogisticRegression

lr = LogisticRegression(max_iter=1000)
lr.fit(X_train_new, y_train_new)

c:\Anaconda3\lib\site-packages\sklearn\utils\validation.py:63: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  return f(*args, **kwargs)

LogisticRegression(max_iter=1000)

In [22]:
y_pred = lr.predict(X_test_new)

EVALUATION

In [23]:
from sklearn.metrics import classification_report
report = classification_report(y_test_new, y_pred)

c:\Anaconda3\lib\site-packages\sklearn\metrics\_classification.py:1245: UndefinedMetricWarning: Precision and F-score are ill-defined and being set to 0.0 in labels with no predicted samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, msg_start, len(result))
c:\Anaconda3\lib\site-packages\sklearn\metrics\_classification.py:1245: UndefinedMetricWarning: Precision and F-score are ill-defined and being set to 0.0 in labels with no predicted samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, msg_start, len(result))
c:\Anaconda3\lib\site-packages\sklearn\metrics\_classification.py:1245: UndefinedMetricWarning: Precision and F-score are ill-defined and being set to 0.0 in labels with no predicted samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, msg_start, len(result))

In [24]:
print(report)

              precision    recall  f1-score   support

           A       0.24      0.68      0.35      3717
           B       0.23      0.31      0.26      3493
           C       0.00      0.00      0.00      2381
           D       0.26      0.00      0.00      3024
           E       0.14      0.02      0.03      3385

    accuracy                           0.23     16000
   macro avg       0.17      0.20      0.13     16000
weighted avg       0.18      0.23      0.15     16000

TESTING

In [25]:
X_test.drop('index', axis = 1, inplace=True)
X_test = scaler.transform(X_test)
y_result = lr.predict(X_test)

In [26]:
y_test['Target'] = y_result

In [27]:
y_test.to_csv('Answer.csv')